.button_type_edit {
  border: 1px solid #fff;
  background-image: url(../../../images/pencil.svg);
  background-size: 10px;
  background-position: 50% 50%; /* центрировать иконку */
  background-color: #000;
  width: 24px;
  height: 24px;
}

@media (max-width : 425px) {
/* чутка увеличить кнопку для огромной карточки */
  .button_type_edit {
    width: 18px;
    height: 18px;
  }  
  
}