.button_type_close-window {
  background-color: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close.svg);
  z-index: 10;
  background-size: contain;
}

@media (max-width : 536px) {

  .button_type_close-window {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }

} 