.button_type_save {
  background-color: #000;
  color: #fff;
  min-width: 238px;
  max-width: 358px;
  min-height: 46px;
  max-height: 50px;
  font-size: 18px;
  line-height: 22px;
}

.button_type_save:hover {
  opacity: .8;
  transition: opacity .5s ease-in-out;
}

@media (max-width : 468px) {
  
  .button_type_save {
    font-size: 14px;
    line-height: 17px;
  } 

} 