.cards__image {
  width: 100%;
  min-height: 282px;
  height: 78%;
  object-fit: cover;
  object-position: center top;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

@media (max-width : 917px) {

  .cards__image {
    border-radius: 15px 15px 0 0;
  }  

} 

@media (max-width : 618px) {

  .cards__image {
    border-radius: 18px 18px 0 0;
  }  

} 

@media (max-width : 425px) {

  .cards__image {
    border-radius: 10px 10px 0 0;
  }  

} 

