.profile__info-first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

@media (max-width : 710px) {

  .profile__info-first-line {
    justify-content: center;
  }  

}