.profile__info-full {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 486px;
}

@media (max-width : 710px) {

  .profile__info-full {
    flex-direction: column;
    flex-basis: 100%;
  } 

}

@media (max-width : 320px) {

  .profile__info-full {
    flex-basis: 282px;
  }
    
}