.cards__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 282px));
  gap: 20px 17px;
  }
  
@media (max-width : 1000px) {
  
  .cards__items {
    grid-template-columns: repeat(auto-fill, minmax(282px, max-content));
  }  
  
} 
  
@media (max-width : 425px) {
  
  .cards__items {
    grid-template-columns: minmax(282px, 388px);
  }  
  
} 
