.button_type_add {
  border: 2px solid #fff;
  background-image: url(../../../images/plus.svg);
  background-size: 22px;
  background-position: 50% 50%; /* центрировать иконку */
  background-color: #000;
  width: 150px;
  height: 50px;
}

/* кнопка на всю ширину*/
@media (max-width : 710px) {

  .button_type_add {
    width: 100%;
  }  

} 

@media (max-width : 425px) {

  .button_type_add {
    background-size: 16px;
  }  

} 